{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="tile is-antecestor">
        <div class="tile is-parent">
            <div class="tile is-child box">

                <h1 class="title">{{ page.title }}</h1>
                <small class="meta subtitle is-7 has-text-black">End poll: {{ page.specific.voting.end }}</small>

                <div class="intro subtitle is-6 has-text-dark">{{ page.intro }}</div>

                <div class="content"> {{ page.body|richtext }} </div>
            </div>
        </div>
    </div>

    <div class="tile is-antecestor">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <nav class="level">
                    {% for voting in page.specific.votings.all %}
{#                    <div class="level-item has-text-centered">#}
{#                        <div>#}
{#                            <p class="heading">Most votes Schacht</p>#}
{#                            <p class="title">{{ page.specific.voting.most_schacht_name }}</p>#}
{#                            <p class="heading">{{ page.specific.voting.most_schacht_name }}</p>#}
{#                        </div>#}
{#                    </div>#}
                        <p> {{ voting }} </p>
                    {% endfor %}

                </nav>

                <p><a class="button is-link" href="{{ page.get_parent.url }}">Return to blog</a></p>
            </div>
        </div>
    </div>


{% endblock %}