{% extends "base.html" %}
{% load static %}

{% block content %}
    <img width="100%" src="{% static 'img/cover.png' %}"/>
    <br/>
    <br/>
    <br/>
    <hr/>
    <div class="level">
        <div class="level-left">
            <a href="/baloe/" class="level-item"> <img width="50%" src="{% static 'img/baloegle.png' %}"> </a>
        </div>
        <div class="level-right">
            <a href="/tube/" class="level-item"> <img width="35%" src="{% static 'img/baloeTube.png' %}"> </a>
        </div>
    </div>
{% endblock %}
